dev:
    image: iojs:slim
    working_dir: /usr/src/app
    volumes:
        - .:/usr/src/app
    command: npm start
    ports:
        - "8080"
    env_file: .env
    environment:
        - VIRTUAL_HOST=proxy.turbasen.privat
        - VIRTUAL_PORT=8080
        - NTB_ENV=api
